extends ../layout

block content
    .col-sm-9#form(style="max-width: 100%;")
        hr
        h3 Agregar función a sede #{sedeUbic}
        br
        .card
            .card-body 
                form(method="POST", action="/agregarFuncion" )
                    .row
                        .col-sm-3
                            label Seleccione una opción del repertorio
                            br           
                            select(name='id_repertorio', class="form-control", id="id_repertorio")
                                -for(let i = 0; i < repertorios.length; i++)
                                    option(value=repertorios[i].id_repertorio) #{repertorios[i].pelicula.titulo} (Idioma: #{repertorios[i].idioma.idioma}) (Sub: #{repertorios[i].subtitulo.idioma.idioma})
                        .col-sm-3
                            label Seleccione la sala
                            br
                            select(name='id_sala', class="form-control", id="id_sala")
                                -for(let i = 0; i < Sala.length; i++)
                                    option(value = Sala[i].sala) #{Sala[i].sala}
                        .col-sm-3
                            label Fecha
                            br
                            input(type="date", name="fecha", id="fecha",class="form-control" )
                        .col-sm-3
                            label Hora de inicio
                            br
                            input(type="time", name="hora_inicio", id="hora_inicio",class="form-control" )
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Agregar