extends ../layout

block content
    .col-sm-9#form(style="max-width: 100%;")
        hr
        h3 Eliminar función de la pelicula #{peliculaTitulo} (idioma: #{idioma}) (sub: #{subtitulo})
        br
        .card
            .card-body 
                form(method="POST", action="/deleteFuncion")
                    .row
                        .col-sm-3
                            label Seleccione una función
                            br           
                            select(name='id_funcion', class="form-control", id="id_funcion", style="    width: 160%;")
                                -for(let i = 0; i < funciones.length; i++)
                                    option(value=funciones[i].id_funcion) Sala: #{funciones[i].sala.sala} Fecha: #{funciones[i].fecha} Hora: #{funciones[i].hora_inicio} 
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Eliminar