extends ../layout

block content
    .col-sm-9#form(style="max-width: 100%;")
        hr
        h3 Eliminar película del repertorio de la sede #{sedeUbic}
        br
        .card
            .card-body 
                form(method="POST", action="/eliminarRepertorio" )
                    .row
                        .col-sm-3
                            label Seleccione una película del repertorio
                            br           
                            select(name='id_repertorio', class="form-control", id="id_repertorio", style="    width: 160%;")
                                -for(let i = 0; i < repertorios.length; i++)
                                    option(value=repertorios[i].id_repertorio) #{repertorios[i].pelicula.titulo} (Idioma: #{repertorios[i].idioma.idioma}) (Sub: #{repertorios[i].subtitulo.idioma.idioma})
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Eliminar