extends ../layout

block content
    .col-sm-8#table
        h3#text PELÍCULAS AGREGADAS
        hr
        br
        table.table.bg-white
            thead
                tr(style="text-align:center;")
                  th(scope='col') Id
                  th(scope='col') Título
                  th(scope='col') Descripción
                  th(scope='col') Duración
                  th(scope='col') Género
                  th(scope='col') Fecha de estreno
            tbody
            -for(let i = 0; i <pelicula.length; i++)
                tr(style="text-align:center;")
                    th(scope='row')
                        h5 #{pelicula[i].id_pelicula}
                    td
                        h5 #{pelicula[i].titulo}
                    td 
                        h5 #{pelicula[i].descripcion}
                    td
                        h5 #{pelicula[i].duracion_min}
                    td
                        h5 #{pelicula[i].id_genero}
                    td
                        h5 #{pelicula[i].fecha_estreno}